.profileCard{
    background-image: linear-gradient(rgba(152, 195, 227, 0.433), white);
}


.status-input{
    padding-top: 10px;
    border: none;
    border-bottom: 1px solid;
}
.status-input:focus{
    border: none;
    border-bottom: 1px solid;
    outline: none;
}
